.homePage {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.homePage__body {
  width: 100%;
}

.homePage__bodyContainer {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
