.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 64px;
  flex-wrap: wrap;
}

.header__logo {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
}

.header__logo > a > img {
  width: 25px;
}

.header__search {
  flex: 0.3;
  width: 90%;
  min-width: 150px;
}

.header__searchContainer {
  background-color: lightgray;
  display: flex;
  margin: auto;
  border: 1px solid dimgray;
  border-radius: 5px;
  padding: 3px 10px;
}

.header__searchContainer > .MuiSvgIcon-root {
  color: dimgray;
}

.header__searchContainer > input {
  border: none;
  width: 80%;
  background-color: transparent;
  color: dimgray;
  margin-left: 3px;
}

.header__searchContainer > input:focus {
  outline: none;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.4;
}

.header__menu > a {
  color: white;
  text-decoration: none;
}

.header__menu > a:hover {
  color: gold;
}

.header__menu > a:focus {
  color: greenyellow;
}
